* {
    font-family: sans-serif;
}

#container {
    margin: 20px;
}

.editor > h2, .proj-id {
    display: inline;
}

.editor > span {
    font-size: 0.9rem;
}

span.proj-id {
    font-style: italic;
}

#updating {
    padding: 2px 4px;
    background-color: bisque;
}

input.editable-sub {
    background-color: rgb(255, 255, 255, 0.4);
    border: 0px;
    border-radius: 5px;
    padding: 7px;
}

input.editable-sub:hover, input.editable-sub:focus {
    background-color: white;
}